:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --main-card: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  background: var(--main-bg);
}
.content {
  width: 100%;
  height: 100%;
}
.card {
  max-width: 340px;
  min-height: 570px;
  text-align: left;
  background-color: var(--main-card);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 20px rgba(0, 0, 0, 0.2);
}
.preview {
  position: relative;
  width: 100%;
  height: 100%;
}
.preview > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
}
.card-title {
  color: var(--white);
  font-weight: 600;
  font-size: 1.5rem;
}
p {
  color: var(--soft-blue);
  font-weight: 300;
  font-size: 16px;
}
.icon {
  width: auto;
  height: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.currency {
  color: var(--cyan);
  font-weight: 600;
}
.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.time-left {
  color: var(--soft-blue);
}

.offer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 14px;
}
.avatar {
  width: auto;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.creator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
hr {
  height: 2px;
  background-color: var(--line);
  border: none;
  margin: 20px 0px 20px 0px;
}
span {
  color: var(--soft-blue);
}
a {
  text-decoration: none;
  color: var(--white);
}

.link:hover {
  color: var(--cyan);
}

/* active state for the main image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s ease;
  background: var(--cyan);
}
.overlay:hover {
  opacity: 0.5;
  cursor: pointer;
}
.preview:hover .img-preview {
  opacity: 1;
  transition: 0.5s ease;
  display: block;
}

.img-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: auto;
  opacity: 0;
}
/* 
.overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
